@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
body{
    margin:0;
    padding: 0;
    text-align: center;
    background-image: url(./laurin-dal-castel-i0asXE8RDyc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    font-family: 'Crimson Text', serif;
}

.container{
   display:flex;
   flex-direction: column;
   height:600px;
   align-items: center;
   justify-content: center;
}

.container,p{


    font-family: 'Playfair Display', serif;
    font-size:50px;
}



button{
    font-family: 'Crimson Text', serif;
    padding:5px;
    font-size: 20px;
    position: relative;
    border-radius: 10px;
    border:1px solid white;
   color: rgb(255, 255, 255);
    background : black;
}
    